body {
    background-color: #FEEED6;
    font-family: "Arial", Verdana, serif;
    font-size: 15.5px;
    text-align: justify;
    color: #67656E;
}

p {
    padding-top: 12px;
}

.header {
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    line-height: 31px;
}

.blueText {
    color: #378DB2;
    font-weight: bold;
}

.crossed {
    text-decoration: line-through;
}

.text {
    text-indent: 10px;
    line-height: 20px;
}

.allContent {
    max-width: 720px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
