.form {
    max-width: 710px;
    min-height: 465px;
    background-color: #FEEED6;
    font-family: "Arial", Verdana, serif;
    padding-left: 15px;
    padding-right: 15px;
}

.fieldName {
    color: #676565;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 6px;
    font-weight: bold;
}

.text-field {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 21px;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
}

.area-field {
    font-family: "Arial", Verdana, serif;
    max-width: 100%;
    width: 100%;
    min-width: 100%;/*685 px*/
    min-height: 120px;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
    resize: vertical;
    border: none;
    box-sizing: border-box;
}

.form-name {
    font-family: "Arial", Verdana, serif;
    font-size: 29px;
    color: #676565;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 1px;
}

.text {
    color: #676565;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.submit-button {
    font-family: "Arial", Verdana, serif;
    background-color: #378DB2;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    min-width: 150px;
    float: right;
    padding: 8px;
}

body {
    background-color: #676565;
}

.all-content {
    padding: 20px;
}
