.table1 {
    font-family: Calibri, Verdana, sans-serif;
    font-size: 20px;
}

.table1 th {
    background-color: #3998DB;
    font-weight: bold;
    color: white;
}

.table1 th, td {
    border: 1px solid lightgrey;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.cell1, .cell2 {
    width: 150px;
}

.cell3 {
    width: 270px;
}

.cell4 {
    width: 175px;
}

.gray {
    background-color: #EEEEEE;
}

.allContent {
    max-width: 750px;
    padding-top: 50px;
    padding-left: 50px;
}