.employees {
    font-family: Calibri, Verdana, sans-serif;
    font-size: 20px;
}

.employees th {
    background-color: #3998DB;
    font-weight: bold;
    color: white;
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: left;
}
.employees tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.cells td {
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: left;
}

.cell1, .cell2 {
    width: 150px;
}

.cell3 {
    width: 270px;
}

.cell4 {
    width: 175px;
}

.all-content {
    max-width: 750px;
    padding: 50px;
}