* {
    box-sizing: border-box;
}

.table-header {
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    text-align: center;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 52px;
}

#all-content {

}

#phone-book th {
    background-color: #3998DB;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

#phone-book {
    font-family: Calibri, Verdana, sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

#table-rows td {
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: left;
}

.cell1 {
    width: 50px;
}

.cell2 {
    width: 300px;
}

.cell3 {
    width: 150px;
}

.cell4 {
    width: 400px;
}

.cell5 {
    width: 50px;
}

.new-contact {
    margin: 30px 250px 30px;
    text-align: center;
}